#cover{
    position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
}

.grandWrapper {
    min-width: 20em;
    position: fixed;
  left: 20%;
  right: 20%;
  bottom: 20%;
  top: 20%;
  background-color: white;
  border: solid 2px gray;
  z-index: 1000;
  padding: 5%;
}

.generalPageWrapper {
    /* aesthetics */
    height: 100vh;
    background-color: #191C23;

    /* grid settings */
    display: grid;
    grid-template:
        minmax(5%, 1fr) 
        minmax(80%, 90%) 
        minmax(5%, 1fr) 
        / minmax(5%, 1fr) minmax(80%, 90%) minmax(5%, 1fr);
    justify-items: center;
    align-items: center;
}

div.largeContainer {
    padding: 4em;
}


body {
    color: #8A96A3;
    background-color: #191C23;
}

button.closeLogin {
    margin: .25em;
    vertical-align: middle;
    float: right;
}

input {
    font-size: 24px;
    border-radius: 5px;
}

button {
    font-size: 16px;
    color: #8A96A3;
    border-radius: 5px;
}

div.login {
    margin-top: 2em;
    margin-bottom: 2em;
}

#emailMessage {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
}